<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse d'Images - YOLOv5</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Analyse d'Images avec YOLOv5</h1>
    <form id="upload-form">
        <input type="file" id="image-upload" accept="image/*">
        <button type="button" id="analyze-button">Analyser</button>
    </form>
    <img id="image-preview" alt="Prévisualisation de l'image">
    <div id="result">Les résultats s'afficheront ici...</div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>